html * {
	font-family: Courier;
}

h1 {
	color: white;
	background-color: gray;
}

body {
	
}

body > p {
	color: gray;
}

#container {
	width:500px;
	border-right-style: solid;
	border-right-color: gray;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-left-style: solid;
	border-left-color: gray;
}

#attribution {
	font-style: oblique;
}